div.buffer-30

div.row
  div.col-md-3
  div.col-md-6
    div.well.well-lg
      h2.no-margin-top.text-success get started
      div.buffer-30
      p.lead.text-danger create an account and make gifting a more awesome experience for you and your friends
      div.buffer-30
      a.btn.btn-success.btn-lg.btn-block(type='button', ui-sref='signup') sign up
  div.col-md-3