div.buffer-30

div.row
  div.col-md-3
  div.col-md-6
    div.well.well-lg
      h2.no-margin-top.text-success sign up
      div.buffer-30

      form.form-horizontal(role='form')

        div.form-group
          label.col-md-5.control-label.text-danger(for='input-email') email
          div.col-md-7
            input#input-email.form-control(type='text', placeholder='email address')

        div.form-group
          label.col-md-5.control-label.text-danger(for='first-name') first name
          div.col-md-7
            input#first-name.form-control(type='text', placeholder='santa')

        div.form-group
          label.col-md-5.control-label.text-danger(for='last-name') last name
          div.col-md-7
            input#last-name.form-control(type='text', placeholder='claus')

        div.form-group
          label.col-md-5.control-label.text-danger(for='password') password
          div.col-md-7
            input#password.form-control(type='password')

        div.form-group
          label.col-md-5.control-label.text-danger(for='password-confirm') confirm password
          div.col-md-7
            input#password-confirm.form-control(type='password')

      div.buffer-30
      button.btn.btn-success.btn-lg.btn-block(type='submit') sign up
  div.col-md-3