!!!
html(ng-app='myApp')
  head
    meta(charset='utf8')
    base(href='/')
    title gift hub
    link(rel='icon', type='image/png', href='images/giftbox_change.png')
    link(rel='stylesheet', href='css/app.css')
    link(rel='stylesheet', href='css/bootstrap/css/bootstrap.min.css')
    script(src='js/production/all.js') -# change to all.min.js
  body
    div.container
      block body